<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnintercomexample"
    xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      xmlns:tools="http://schemas.android.com/tools"
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <service
        android:name="com.robinpowered.react.Intercom.IntercomIntentService"
        android:exported="false">
          <intent-filter
            android:priority="999">
              <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
      </service>
      <receiver
        android:name="io.intercom.android.sdk.push.IntercomPushBroadcastReceiver"
        tools:replace="android:exported"
        android:exported="true"/>
    </application>

</manifest>
